* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	min-height:100vh;
	border-top:10px solid #ECEEF1;
	border-bottom:10px solid #ECEEF1;
	color:#61666c;
	font-size:1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height:1.5rem;
	padding:0px 20px 0px;
}

code {
	font-family:consolas,monospace;
}

a {
	color:#2222FF;
	text-decoration:none;
}
a:visited {
	color:#802280;
}

label {
	display: block;
}

button.link {
	background: none!important;
	border: none !important;
	padding: 0 !important;
	color: #2222FF;
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5rem;
}

div.section {
	margin-bottom: 1.5rem;
}

table, td {
	border: solid 1px black;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}

td {
	padding: 8px;
}

/* Dark Theme */
body.dark {
	border-color: #222;
	background: #111;
	color: #ccc;
}

body.dark * {
	border-color: #555 !important;
}

body.dark a, body.dark button.link {
	color: #b1cbf7;
}

body.dark a:visited {
	color: #cdb4e7;
}

body.dark input,
body.dark button,
body.dark textarea,
body.dark select {
	--moz-appearance: none;
	--webkit-appearance: none;
	border: 1px solid;
	background-color: #353535;
        color: #ccc;
}

input[type="radio"] {
	--moz-appearance: radio;
	--webkit-appearance: radio;
}

input[type="checkbox"] {
	--moz-appearance: checkbox;
	--webkit-appearance: checkbox;
}

body.dark h1, body.dark h2 {
	width: 100%;
	background-color: #28313e;
	border-radius: 5px;
}

body.dark h3,
body.dark h4 {
	width: 100%;
	background-color: #2a3731;
	border-radius: 5px;
}

body.dark h5,
body.dark h6 {
	width: 100%;
	background-color: #372a2a;
	border-radius: 5px;
}
