* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    color:#61666c;
    font-size:1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height:1.5rem;
}

code {
    font-family:consolas,monospace;
}

a {
    color:#2222FF;
    text-decoration:none;
}
a:visited {
    color:#802280;
}

label {
    display: block;
}

button.link {
    background: none!important;
    border: none !important;
    padding: 0 !important;
    color: #2222FF;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
}

div.section {
    margin-bottom: 1.5rem;
}

table, td {
    border: solid 1px black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}

td {
    padding: 8px;
}

input[type="radio"] {
    --moz-appearance: radio;
    --webkit-appearance: radio;
}

input[type="checkbox"] {
    --moz-appearance: checkbox;
    --webkit-appearance: checkbox;
}

.notify-list {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;

    @media only screen and (max-width: 480px) {
        right: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    input, button, textarea, select {
        font-size: 16px;
    }
}

.notify {
    margin: 7px;
    padding: 0 3px;
    position: relative;
    padding-left: 23px;

    img {
        position: absolute;
        left: 4px;
        top: 4px;
    }

    &.warn {
        background-color:#f8f2be;
        border: 1px #a39306 solid;
    }

    &.info {
        background-color:#BDE5F8;
        border: 1px #075BA3 solid;
    }

    &.error {
        background-color:#f8bec0;
        border: 1px #a30609 solid;
    }
}

/* smui height */
html {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

body, app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drawer-container {
    flex-grow: 1;
    height: 0;
    display: flex;
}

.app-content {
    flex: auto;
    position: relative;
    width: 0;
    flex-grow: 1;
    overflow: auto;
}

.main-content {
    padding: 10px;
}

.form-small {
    display: block;
    max-width: 350px;
}

.row-small {
    margin-top: 10px;
    max-width: 350px;
    position: absolute;
    width: 100%;
}

.align-right {
    position: relative;
    float: right;
}

.input-fw {
    width: 100%;
}